___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 4: Work with data professionally!

## Lab work 4

#### Мета: 

* навчитися обробляти дані
* "парсити" сайти

### Завдання 1:

#### Ознайомитися із API Національного банку 
https://old.bank.gov.ua/control/uk/publish/article?art_id=38441973&cat_id=38459171#exchange

1. Підключитися до API.

2. Отримати курс долара за останній рік.

In [1]:
from datetime import datetime, timedelta
from statistics import mean, stdev
import requests
import pickle 

a = datetime.today()
d = datetime(int(a.year)-1, a.month, a.day)
Course = []

for i in range((a-d).days):
    p = {'date' : d.strftime('%Y%m%d'), 'valcode' : 'USD'}
    r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json', params = p)
    if r.status_code ==200:
        Course.append(r.json()[0]['rate'])
        d = d + timedelta(days=1)
print(f'Курс USD за останній рік: \n{Course}')
with open('Course_USD.text', 'w') as f:
    f.write(f'Курс USD за останній рік: \n{Course}\n')

Курс USD за останній рік:
[27.2022, 27.2022, 27.2022, 27.0774, 27.0815, 27.0536, 27.0137, 27.0137, 27.0137, 27.1441, 27.1025, 27.0485, 26.9714, 26.9714, 26.9714, 26.9714, 26.9592, 26.9749, 26.9774, 26.9323, 26.8185, 26.8185, 26.8185, 26.8185, 26.8196, 26.7947, 26.6897, 26.6792, 26.6792, 26.6792, 26.638, 26.571, 26.5159, 26.5854, 26.7699, 26.7699, 26.7699, 26.7556, 26.8742, 26.9029, 27.0002, 26.9059, 26.9059, 26.9059, 26.8685, 26.8181, 26.7955, 26.7544, 26.6953, 26.6953, 26.6953, 26.6953, 26.6005, 26.6412, 26.6367, 26.5999, 26.5999, 26.5999, 26.7303, 26.844, 26.7424, 26.776, 26.7633, 26.7633, 26.7633, 26.7207, 26.6695, 26.6078, 26.6509, 26.7002, 26.7002, 26.7002, 26.7002, 26.6922, 26.6676, 26.77, 27.1801, 27.1801, 27.1801, 27.1716, 27.1269, 26.9309, 26.9514, 26.9335, 26.9335, 26.9335, 26.9505, 27.0883, 27.1436, 27.119, 27.2738, 27.2738, 27.2738, 27.3606, 27.6011, 27.6647, 27.7798, 27.8779, 27.8779, 27.8779, 27.7559, 27.7571, 27.6851, 27.6867, 27.6913, 27.6913, 27.6913, 27.6798, 27.7365, 27.8225, 27.7028, 27.6793, 27.6793, 27.6793, 27.6486, 27.6007, 27.5982, 27.5266, 27.4083, 27.4083, 27.4083, 27.3474, 27.3061, 27.2297, 27.316, 27.4812, 27.4812, 27.4812, 27.4812, 27.3942, 27.4383, 27.386, 27.4615, 27.4615, 27.4615, 27.4759, 27.5618, 27.6049, 27.6428, 27.6908, 27.6908, 27.6908, 27.7325, 27.7509, 27.8032, 27.8296, 27.8346, 27.8346, 27.8346, 27.9003, 28.0003, 28.0556, 28.1195, 28.1127, 28.1127, 28.1127, 28.1718, 28.2022, 28.2059, 28.1874, 28.2487, 28.2487, 28.2487, 28.2673, 28.3062, 28.2989, 28.3105, 28.3343, 28.3343, 28.3343, 28.3408, 28.4009, 28.3639, 28.324, 28.2836, 28.2836, 28.2836, 28.2098, 28.2481, 28.2481, 28.3164, 28.3365, 28.3365, 28.3365, 28.3649, 28.3762, 28.3707, 28.2737, 28.265, 28.265, 28.265, 28.2911, 28.3352, 28.3655, 28.3989, 28.4383, 28.4383, 28.4383, 28.4507, 28.5827, 28.6, 28.5074, 28.3643, 28.3643, 28.3643, 28.1375, 28.1116, 28.1206, 28.161, 28.1963, 28.1963, 28.1963, 28.1158, 28.112, 28.1067, 28.13, 28.2572, 28.2572, 28.2572, 28.3553, 28.3694, 28.3741, 28.3816, 28.4428, 28.4428, 28.4428, 28.4681, 28.4962, 28.5583, 28.4367, 28.3038, 28.3038, 28.3038, 28.2913, 28.2394, 28.0828, 28.0406, 28.075, 28.075, 28.075, 27.9666, 27.8661, 27.759, 27.7373, 27.8184, 27.8184, 27.8184, 27.828, 28.0391, 28.2513, 28.4551, 28.4551, 28.4551, 28.4551, 28.3547, 28.3668, 28.2605, 28.2746, 28.2746, 28.2746, 28.2746, 28.2746, 28.431, 28.4028, 28.4028, 28.4028, 28.4028, 28.4028, 28.2847, 28.2038, 28.046, 27.9705, 28.0609, 28.0524, 28.0524, 28.0524, 28.1926, 28.1544, 28.2035, 28.2561, 28.2561, 28.2561, 28.1648, 28.1665, 28.1524, 28.1652, 28.1929, 28.1929, 28.1929, 28.1324, 28.0603, 28.0589, 27.995, 27.8885, 27.8885, 27.8885, 27.7711, 27.6651, 27.6426, 27.7665, 27.8384, 27.8384, 27.8384, 27.844, 27.9671, 27.8304, 27.9038, 27.8461, 27.8461, 27.8461, 27.8468, 27.9304, 27.8976, 27.9492, 27.9301, 27.9301, 27.9301, 27.9456, 28.0007, 27.933, 27.8477, 27.7564, 27.7564, 27.7564, 27.7564, 27.7091, 27.7431, 27.7016, 27.7486, 27.7486, 27.7486, 27.7305, 27.6434, 27.6525, 27.6978, 27.6828, 27.6828, 27.6828, 27.7184, 27.6871, 27.7295, 27.8706, 27.9698, 27.9698, 27.9698, 27.9679, 27.9694, 27.8852, 27.8226, 27.8324, 27.8324, 27.8324, 27.9555, 27.939, 27.8384, 27.8923, 27.9768, 27.9768, 27.9768, 27.9094, 27.9335, 28.0156, 27.9765, 27.9592, 27.9592]

3. Вивести середнє значення та відхилення курсу за кожний місяць.

In [2]:
from datetime import datetime, timedelta
from statistics import mean, stdev
import requests
import pickle

a = datetime.today()
d = datetime(int(a.year)-1, a.month, 1)
DK = []

for i in range(12):
    if d.month < 12:
        d1 = datetime(d.year, int(d.month)+1, 1)
        day = d1-d
        for i in range(day.days):
            p = {'date' : d.strftime('%Y%m%d'), 'valcode' : 'USD'}
            r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json', params = p)
            if r.status_code ==200:
                DK.append(r.json()[0]['rate'])
                d = d + timedelta(days=1)
        print(f'Щоденний курс USD за {d.month-1} місяць {d.year} року: \n{DK}')
        print(f'Середнє значення USD за {d.month-1} місяць {d.year} року становить = {round(mean(DK), 4)}')
        print(f'Відхилення курсу USD за {d.month-1} місяць {d.year} року становить = {round(stdev(DK), 4)}\n')
        with open('Course_USD.text', 'a') as f:
            f.write(f'Щоденний курс USD за {d.month-1} місяць {d.year} року: \n{DK}\n')
            f.write(f'Середнє значення USD за {d.month-1} місяць {d.year} року становить = {round(mean(DK), 4)}\n')
            f.write(f'Відхилення курсу USD за {d.month-1} місяць {d.year} року становить = {round(stdev(DK), 4)}\n')
        DK = []
        if d1.month == a.month:
            break

    if d.month == 12:
        d1 = datetime(int(d.year)+1, 1, 1)
        day = d1-d
        for i in range(day.days):
            p = {'date' : d.strftime('%Y%m%d'), 'valcode' : 'USD'}
            r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json', params = p)
            if r.status_code ==200:
                DK.append(r.json()[0]['rate'])
                d = d + timedelta(days=1)
        print(f'Щоденний курс USD за 12 місяць {d.year-1} року: \n{DK}')
        print(f'Середнє значення USD за 12 місяць {d.year-1} року становить = {round(mean(DK), 4)}')
        print(f'Відхилення курсу USD за 12 місяць {d.year-1} року становить = {round(stdev(DK), 4)}\n')
        with open('Course_USD.text', 'a') as f:
            f.write(f'Щоденний курс USD за 12 місяць {d.year-1} року: \n{DK}\n')
            f.write(f'Середнє значення USD за 12 місяць {d.year-1} року становить = {round(mean(DK), 4)}\n')
            f.write(f'Відхилення курсу USD за 12 місяць {d.year-1} року становить = {round(stdev(DK), 4)}\n')
        DK = []

Щоденний курс USD за 4 місяць 2020 року:
[27.6289, 27.7538, 27.5962, 27.5962, 27.5962, 27.373, 27.2365, 27.0996, 27.1965, 27.2598, 27.2598, 27.2598, 27.2022, 27.0404, 27.0899, 27.2219, 27.2022, 27.2022, 27.2022, 27.2022, 27.0774, 27.0815, 27.0536, 27.0137, 27.0137, 27.0137, 27.1441, 27.1025, 27.0485, 26.9714]
Середнє значення USD за 4 місяць 2020 року становить = 27.2247
Відхилення курсу USD за 4 місяць 2020 року становить = 0.2098

Щоденний курс USD за 5 місяць 2020 року:
[26.9714, 26.9714, 26.9714, 26.9592, 26.9749, 26.9774, 26.9323, 26.8185, 26.8185, 26.8185, 26.8185, 26.8196, 26.7947, 26.6897, 26.6792, 26.6792, 26.6792, 26.638, 26.571, 26.5159, 26.5854, 26.7699, 26.7699, 26.7699, 26.7556, 26.8742, 26.9029, 27.0002, 26.9059, 26.9059, 26.9059]
Середнє значення USD за 5 місяць 2020 року становить = 26.8143
Відхилення курсу USD за 5 місяць 2020 року становить = 0.1347

Щоденний курс USD за 6 місяць 2020 року:
[26.8685, 26.8181, 26.7955, 26.7544, 26.6953, 26.6953, 26.6953, 26.6953, 26.6005, 26.6412, 26.6367, 26.5999, 26.5999, 26.5999, 26.7303, 26.844, 26.7424, 26.776, 26.7633, 26.7633, 26.7633, 26.7207, 26.6695, 26.6078, 26.6509, 26.7002, 26.7002, 26.7002, 26.7002, 26.6922]
Середнє значення USD за 6 місяць 2020 року становить = 26.7073
Відхилення курсу USD за 6 місяць 2020 року становить = 0.0728

Щоденний курс USD за 7 місяць 2020 року:
[26.6676, 26.77, 27.1801, 27.1801, 27.1801, 27.1716, 27.1269, 26.9309, 26.9514, 26.9335, 26.9335, 26.9335, 26.9505, 27.0883, 27.1436, 27.119, 27.2738, 27.2738, 27.2738, 27.3606, 27.6011, 27.6647, 27.7798, 27.8779, 27.8779, 27.8779, 27.7559, 27.7571, 27.6851, 27.6867, 27.6913]
Середнє значення USD за 7 місяць 2020 року становить = 27.3128
Відхилення курсу USD за 7 місяць 2020 року становить = 0.3642

Щоденний курс USD за 8 місяць 2020 року:
[27.6913, 27.6913, 27.6798, 27.7365, 27.8225, 27.7028, 27.6793, 27.6793, 27.6793, 27.6486, 27.6007, 27.5982, 27.5266, 27.4083, 27.4083, 27.4083, 27.3474, 27.3061, 27.2297, 27.316, 27.4812, 27.4812, 27.4812, 27.4812, 27.3942, 27.4383, 27.386, 27.4615, 27.4615, 27.4615, 27.4759]
Середнє значення USD за 8 місяць 2020 року становить = 27.5214
Відхилення курсу USD за 8 місяць 2020 року становить = 0.1482

Щоденний курс USD за 9 місяць 2020 року:
[27.5618, 27.6049, 27.6428, 27.6908, 27.6908, 27.6908, 27.7325, 27.7509, 27.8032, 27.8296, 27.8346, 27.8346, 27.8346, 27.9003, 28.0003, 28.0556, 28.1195, 28.1127, 28.1127, 28.1127, 28.1718, 28.2022, 28.2059, 28.1874, 28.2487, 28.2487, 28.2487, 28.2673, 28.3062, 28.2989]
Середнє значення USD за 9 місяць 2020 року становить = 27.9767
Відхилення курсу USD за 9 місяць 2020 року становить = 0.2409

Щоденний курс USD за 10 місяць 2020 року:
[28.3105, 28.3343, 28.3343, 28.3343, 28.3408, 28.4009, 28.3639, 28.324, 28.2836, 28.2836, 28.2836, 28.2098, 28.2481, 28.2481, 28.3164, 28.3365, 28.3365, 28.3365, 28.3649, 28.3762, 28.3707, 28.2737, 28.265, 28.265, 28.265, 28.2911, 28.3352, 28.3655, 28.3989, 28.4383, 28.4383]
Середнє значення USD за 10 місяць 2020 року становить = 28.325
Відхилення курсу USD за 10 місяць 2020 року становить = 0.0555

Щоденний курс USD за 11 місяць 2020 року:
[28.4383, 28.4507, 28.5827, 28.6, 28.5074, 28.3643, 28.3643, 28.3643, 28.1375, 28.1116, 28.1206, 28.161, 28.1963, 28.1963, 28.1963, 28.1158, 28.112, 28.1067, 28.13, 28.2572, 28.2572, 28.2572, 28.3553, 28.3694, 28.3741, 28.3816, 28.4428, 28.4428, 28.4428, 28.4681]
Середнє значення USD за 11 місяць 2020 року становить = 28.3102
Відхилення курсу USD за 11 місяць 2020 року становить = 0.1509

Щоденний курс USD за 12 місяць 2020 року:
[28.4962, 28.5583, 28.4367, 28.3038, 28.3038, 28.3038, 28.2913, 28.2394, 28.0828, 28.0406, 28.075, 28.075, 28.075, 27.9666, 27.8661, 27.759, 27.7373, 27.8184, 27.8184, 27.8184, 27.828, 28.0391, 28.2513, 28.4551, 28.4551, 28.4551, 28.4551, 28.3547, 28.3668, 28.2605, 28.2746]
Середнє значення USD за 12 місяць 2020 року становить = 28.1697
Відхилення курсу USD за 12 місяць 2020 року становить = 0.2498

Щоденний курс USD за 1 місяць 2021 року:
[28.2746, 28.2746, 28.2746, 28.2746, 28.431, 28.4028, 28.4028, 28.4028, 28.4028, 28.4028, 28.2847, 28.2038, 28.046, 27.9705, 28.0609, 28.0524, 28.0524, 28.0524, 28.1926, 28.1544, 28.2035, 28.2561, 28.2561, 28.2561, 28.1648, 28.1665, 28.1524, 28.1652, 28.1929, 28.1929, 28.1929]
Середнє значення USD за 1 місяць 2021 року становить = 28.2198
Відхилення курсу USD за 1 місяць 2021 року становить = 0.1232

Щоденний курс USD за 2 місяць 2021 року:
[28.1324, 28.0603, 28.0589, 27.995, 27.8885, 27.8885, 27.8885, 27.7711, 27.6651, 27.6426, 27.7665, 27.8384, 27.8384, 27.8384, 27.844, 27.9671, 27.8304, 27.9038, 27.8461, 27.8461, 27.8461, 27.8468, 27.9304, 27.8976, 27.9492, 27.9301, 27.9301, 27.9301]
Середнє значення USD за 2 місяць 2021 року становить = 27.8847
Відхилення курсу USD за 2 місяць 2021 року становить = 0.1063

Щоденний курс USD за 3 місяць 2021 року:
[27.9456, 28.0007, 27.933, 27.8477, 27.7564, 27.7564, 27.7564, 27.7564, 27.7091, 27.7431, 27.7016, 27.7486, 27.7486, 27.7486, 27.7305, 27.6434, 27.6525, 27.6978, 27.6828, 27.6828, 27.6828, 27.7184, 27.6871, 27.7295, 27.8706, 27.9698, 27.9698, 27.9698, 27.9679, 27.9694, 27.8852]
Середнє значення USD за 3 місяць 2021 року становить = 27.7956
Відхилення курсу USD за 3 місяць 2021 року становить = 0.1155

4. Дану інформацію записати у файл за допомогою pickle.

In [3]:
import pickle

f = open('Course_USD.text', 'r')
l = [line.strip() for line in f]

with open('Course_USD.pickle', 'wb') as f1:
    pickle.dump(l, f1)

with open('Course_USD.pickle', 'rb') as f2:
    res = pickle.load(f2)
    
res

['Курс USD за останній рік:',
 '[27.2022, 27.2022, 27.2022, 27.0774, 27.0815, 27.0536, 27.0137, 27.0137, 27.0137, 27.1441, 27.1025, 27.0485, 26.9714, 26.9714, 26.9714, 26.9714, 26.9592, 26.9749, 26.9774, 26.9323, 26.8185, 26.8185, 26.8185, 26.8185, 26.8196, 26.7947, 26.6897, 26.6792, 26.6792, 26.6792, 26.638, 26.571, 26.5159, 26.5854, 26.7699, 26.7699, 26.7699, 26.7556, 26.8742, 26.9029, 27.0002, 26.9059, 26.9059, 26.9059, 26.8685, 26.8181, 26.7955, 26.7544, 26.6953, 26.6953, 26.6953, 26.6953, 26.6005, 26.6412, 26.6367, 26.5999, 26.5999, 26.5999, 26.7303, 26.844, 26.7424, 26.776, 26.7633, 26.7633, 26.7633, 26.7207, 26.6695, 26.6078, 26.6509, 26.7002, 26.7002, 26.7002, 26.7002, 26.6922, 26.6676, 26.77, 27.1801, 27.1801, 27.1801, 27.1716, 27.1269, 26.9309, 26.9514, 26.9335, 26.9335, 26.9335, 26.9505, 27.0883, 27.1436, 27.119, 27.2738, 27.2738, 27.2738, 27.3606, 27.6011, 27.6647, 27.7798, 27.8779, 27.8779, 27.8779, 27.7559, 27.7571, 27.6851, 27.6867, 27.6913, 27.6913, 27.6913, 27.6798, 27.7365, 27.8225, 27.7028, 27.6793, 27.6793, 27.6793, 27.6486, 27.6007, 27.5982, 27.5266, 27.4083, 27.4083, 27.4083, 27.3474, 27.3061, 27.2297, 27.316, 27.4812, 27.4812, 27.4812, 27.4812, 27.3942, 27.4383, 27.386, 27.4615, 27.4615, 27.4615, 27.4759, 27.5618, 27.6049, 27.6428, 27.6908, 27.6908, 27.6908, 27.7325, 27.7509, 27.8032, 27.8296, 27.8346, 27.8346, 27.8346, 27.9003, 28.0003, 28.0556, 28.1195, 28.1127, 28.1127, 28.1127, 28.1718, 28.2022, 28.2059, 28.1874, 28.2487, 28.2487, 28.2487, 28.2673, 28.3062, 28.2989, 28.3105, 28.3343, 28.3343, 28.3343, 28.3408, 28.4009, 28.3639, 28.324, 28.2836, 28.2836, 28.2836, 28.2098, 28.2481, 28.2481, 28.3164, 28.3365, 28.3365, 28.3365, 28.3649, 28.3762, 28.3707, 28.2737, 28.265, 28.265, 28.265, 28.2911, 28.3352, 28.3655, 28.3989, 28.4383, 28.4383, 28.4383, 28.4507, 28.5827, 28.6, 28.5074, 28.3643, 28.3643, 28.3643, 28.1375, 28.1116, 28.1206, 28.161, 28.1963, 28.1963, 28.1963, 28.1158, 28.112, 28.1067, 28.13, 28.2572, 28.2572, 28.2572, 28.3553, 28.3694, 28.3741, 28.3816, 28.4428, 28.4428, 28.4428, 28.4681, 28.4962, 28.5583, 28.4367, 28.3038, 28.3038, 28.3038, 28.2913, 28.2394, 28.0828, 28.0406, 28.075, 28.075, 28.075, 27.9666, 27.8661, 27.759, 27.7373, 27.8184, 27.8184, 27.8184, 27.828, 28.0391, 28.2513, 28.4551, 28.4551, 28.4551, 28.4551, 28.3547, 28.3668, 28.2605, 28.2746, 28.2746, 28.2746, 28.2746, 28.2746, 28.431, 28.4028, 28.4028, 28.4028, 28.4028, 28.4028, 28.2847, 28.2038, 28.046, 27.9705, 28.0609, 28.0524, 28.0524, 28.0524, 28.1926, 28.1544, 28.2035, 28.2561, 28.2561, 28.2561, 28.1648, 28.1665, 28.1524, 28.1652, 28.1929, 28.1929, 28.1929, 28.1324, 28.0603, 28.0589, 27.995, 27.8885, 27.8885, 27.8885, 27.7711, 27.6651, 27.6426, 27.7665, 27.8384, 27.8384, 27.8384, 27.844, 27.9671, 27.8304, 27.9038, 27.8461, 27.8461, 27.8461, 27.8468, 27.9304, 27.8976, 27.9492, 27.9301, 27.9301, 27.9301, 27.9456, 28.0007, 27.933, 27.8477, 27.7564, 27.7564, 27.7564, 27.7564, 27.7091, 27.7431, 27.7016, 27.7486, 27.7486, 27.7486, 27.7305, 27.6434, 27.6525, 27.6978, 27.6828, 27.6828, 27.6828, 27.7184, 27.6871, 27.7295, 27.8706, 27.9698, 27.9698, 27.9698, 27.9679, 27.9694, 27.8852, 27.8226, 27.8324, 27.8324, 27.8324, 27.9555, 27.939, 27.8384, 27.8923, 27.9768, 27.9768, 27.9768, 27.9094, 27.9335, 28.0156, 27.9765, 27.9592, 27.9592]',
 'Щоденний курс USD за 4 місяць 2020 року:',
 '[27.6289, 27.7538, 27.5962, 27.5962, 27.5962, 27.373, 27.2365, 27.0996, 27.1965, 27.2598, 27.2598, 27.2598, 27.2022, 27.0404, 27.0899, 27.2219, 27.2022, 27.2022, 27.2022, 27.2022, 27.0774, 27.0815, 27.0536, 27.0137, 27.0137, 27.0137, 27.1441, 27.1025, 27.0485, 26.9714]',
 'Середнє значення USD за 4 місяць 2020 року становить = 27.2247',
 'Відхилення курсу USD за 4 місяць 2020 року становить = 0.2098',
 'Щоденний курс USD за 5 місяць 2020 року:',
 '[26.9714, 26.9714, 26.9714, 26.9592, 26.9749, 26.9774, 26.9323, 26.8185, 26.8185, 26.8185, 26.8185, 26.8196, 26.7947, 26.6897, 26.6792, 26.6792, 26.6792, 26.638, 26.571, 26.5159, 26.5854, 26.7699, 26.7699, 26.7699, 26.7556, 26.8742, 26.9029, 27.0002, 26.9059, 26.9059, 26.9059]',
 'Середнє значення USD за 5 місяць 2020 року становить = 26.8143',
 'Відхилення курсу USD за 5 місяць 2020 року становить = 0.1347',
 'Щоденний курс USD за 6 місяць 2020 року:',
 '[26.8685, 26.8181, 26.7955, 26.7544, 26.6953, 26.6953, 26.6953, 26.6953, 26.6005, 26.6412, 26.6367, 26.5999, 26.5999, 26.5999, 26.7303, 26.844, 26.7424, 26.776, 26.7633, 26.7633, 26.7633, 26.7207, 26.6695, 26.6078, 26.6509, 26.7002, 26.7002, 26.7002, 26.7002, 26.6922]',
 'Середнє значення USD за 6 місяць 2020 року становить = 26.7073',
 'Відхилення курсу USD за 6 місяць 2020 року становить = 0.0728',
 'Щоденний курс USD за 7 місяць 2020 року:',
 '[26.6676, 26.77, 27.1801, 27.1801, 27.1801, 27.1716, 27.1269, 26.9309, 26.9514, 26.9335, 26.9335, 26.9335, 26.9505, 27.0883, 27.1436, 27.119, 27.2738, 27.2738, 27.2738, 27.3606, 27.6011, 27.6647, 27.7798, 27.8779, 27.8779, 27.8779, 27.7559, 27.7571, 27.6851, 27.6867, 27.6913]',
 'Середнє значення USD за 7 місяць 2020 року становить = 27.3128',
 'Відхилення курсу USD за 7 місяць 2020 року становить = 0.3642',
 'Щоденний курс USD за 8 місяць 2020 року:',
 '[27.6913, 27.6913, 27.6798, 27.7365, 27.8225, 27.7028, 27.6793, 27.6793, 27.6793, 27.6486, 27.6007, 27.5982, 27.5266, 27.4083, 27.4083, 27.4083, 27.3474, 27.3061, 27.2297, 27.316, 27.4812, 27.4812, 27.4812, 27.4812, 27.3942, 27.4383, 27.386, 27.4615, 27.4615, 27.4615, 27.4759]',
 'Середнє значення USD за 8 місяць 2020 року становить = 27.5214',
 'Відхилення курсу USD за 8 місяць 2020 року становить = 0.1482',
 'Щоденний курс USD за 9 місяць 2020 року:',
 '[27.5618, 27.6049, 27.6428, 27.6908, 27.6908, 27.6908, 27.7325, 27.7509, 27.8032, 27.8296, 27.8346, 27.8346, 27.8346, 27.9003, 28.0003, 28.0556, 28.1195, 28.1127, 28.1127, 28.1127, 28.1718, 28.2022, 28.2059, 28.1874, 28.2487, 28.2487, 28.2487, 28.2673, 28.3062, 28.2989]',
 'Середнє значення USD за 9 місяць 2020 року становить = 27.9767',
 'Відхилення курсу USD за 9 місяць 2020 року становить = 0.2409',
 'Щоденний курс USD за 10 місяць 2020 року:',
 '[28.3105, 28.3343, 28.3343, 28.3343, 28.3408, 28.4009, 28.3639, 28.324, 28.2836, 28.2836, 28.2836, 28.2098, 28.2481, 28.2481, 28.3164, 28.3365, 28.3365, 28.3365, 28.3649, 28.3762, 28.3707, 28.2737, 28.265, 28.265, 28.265, 28.2911, 28.3352, 28.3655, 28.3989, 28.4383, 28.4383]',
 'Середнє значення USD за 10 місяць 2020 року становить = 28.325',
 'Відхилення курсу USD за 10 місяць 2020 року становить = 0.0555',
 'Щоденний курс USD за 11 місяць 2020 року:',
 '[28.4383, 28.4507, 28.5827, 28.6, 28.5074, 28.3643, 28.3643, 28.3643, 28.1375, 28.1116, 28.1206, 28.161, 28.1963, 28.1963, 28.1963, 28.1158, 28.112, 28.1067, 28.13, 28.2572, 28.2572, 28.2572, 28.3553, 28.3694, 28.3741, 28.3816, 28.4428, 28.4428, 28.4428, 28.4681]',
 'Середнє значення USD за 11 місяць 2020 року становить = 28.3102',
 'Відхилення курсу USD за 11 місяць 2020 року становить = 0.1509',
 'Щоденний курс USD за 12 місяць 2020 року:',
 '[28.4962, 28.5583, 28.4367, 28.3038, 28.3038, 28.3038, 28.2913, 28.2394, 28.0828, 28.0406, 28.075, 28.075, 28.075, 27.9666, 27.8661, 27.759, 27.7373, 27.8184, 27.8184, 27.8184, 27.828, 28.0391, 28.2513, 28.4551, 28.4551, 28.4551, 28.4551, 28.3547, 28.3668, 28.2605, 28.2746]',
 'Середнє значення USD за 12 місяць 2020 року становить = 28.1697',
 'Відхилення курсу USD за 12 місяць 2020 року становить = 0.2498',
 'Щоденний курс USD за 1 місяць 2021 року:',
 '[28.2746, 28.2746, 28.2746, 28.2746, 28.431, 28.4028, 28.4028, 28.4028, 28.4028, 28.4028, 28.2847, 28.2038, 28.046, 27.9705, 28.0609, 28.0524, 28.0524, 28.0524, 28.1926, 28.1544, 28.2035, 28.2561, 28.2561, 28.2561, 28.1648, 28.1665, 28.1524, 28.1652, 28.1929, 28.1929, 28.1929]',
 'Середнє значення USD за 1 місяць 2021 року становить = 28.2198',
 'Відхилення курсу USD за 1 місяць 2021 року становить = 0.1232',
 'Щоденний курс USD за 2 місяць 2021 року:',
 '[28.1324, 28.0603, 28.0589, 27.995, 27.8885, 27.8885, 27.8885, 27.7711, 27.6651, 27.6426, 27.7665, 27.8384, 27.8384, 27.8384, 27.844, 27.9671, 27.8304, 27.9038, 27.8461, 27.8461, 27.8461, 27.8468, 27.9304, 27.8976, 27.9492, 27.9301, 27.9301, 27.9301]',
 'Середнє значення USD за 2 місяць 2021 року становить = 27.8847',
 'Відхилення курсу USD за 2 місяць 2021 року становить = 0.1063',
 'Щоденний курс USD за 3 місяць 2021 року:',
 '[27.9456, 28.0007, 27.933, 27.8477, 27.7564, 27.7564, 27.7564, 27.7564, 27.7091, 27.7431, 27.7016, 27.7486, 27.7486, 27.7486, 27.7305, 27.6434, 27.6525, 27.6978, 27.6828, 27.6828, 27.6828, 27.7184, 27.6871, 27.7295, 27.8706, 27.9698, 27.9698, 27.9698, 27.9679, 27.9694, 27.8852]',
 'Середнє значення USD за 3 місяць 2021 року становить = 27.7956',
 'Відхилення курсу USD за 3 місяць 2021 року становить = 0.1155']

### Завдання 2:

Потрібно проаналізувати всі товари на сайті: 
https://smallpacking.agrosem.ua/shop/

Створіть базу даних, що містить таблицю із такими стовбцями: 
    - артикул товару
    - найменування
    - ціна 
    - вага

In [4]:
HEADERS = {
            'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0',
            'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
            'Accept-Language': 'en-US,en;q=0.5',
            'Accept-Encoding': 'gzip, deflate',
            'DNT': '1',
            'Connection': 'keep-alive',
            'Upgrade-Insecure-Requests': '1'
        }

import requests
from bs4 import BeautifulSoup

BASE = []

SITE = 'https://smallpacking.agrosem.ua/shop/'

def pars1():
    r = requests.get(SITE, headers = HEADERS)

    soup = BeautifulSoup(r.text, 'lxml')

    for el in soup.find('div', class_ = 'product-category-wrapper').find_all('div', class_='product-from-category-container'):
        name = el.find('span', class_='pruduct-name-bottom').text
        link = el.find('a').get('href')
        price = el.find('span', class_='regular-price').text
        BASE.append([link, name, price])
    return(BASE)

def pars2():
    for k in range(len(BASE)):
        s1 = BASE[k]
        s2 = s1[0]
        r = requests.get(s2, headers=HEADERS)
        if r.status_code == 200:
            soup = BeautifulSoup(r.text, 'lxml')
            block = soup.find('div', class_='atributes-description')
            articl = block.find('span', class_='sku').text
            packaging = block.find('span', class_= 'type-packaging-name').text
            BASE[k].extend([articl])
            BASE[k].extend([packaging])
    return(BASE)

for i in range(1, 1000):
    if i == 1:
        SITE = SITE
        a = pars1()
    else:
        SITE = f'https://smallpacking.agrosem.ua/shop/page/{i}/'
        try:
            a = pars1()
        except AttributeError:
            break

result = pars2()

import sqlite3

conn = sqlite3.connect('db_agrosem.sqlite3')

curs = conn.cursor()
curs.execute("CREATE TABLE cargo (id_ INT, articl TEXT, name TEXT, price TEXT, packaging TEXT)")

for i in range(len(BASE)):
    a = BASE[i]
    id_ = int(i+1)
    articl = a[3]
    name = a[1]
    price = a[2]
    packaging = a[4]
    conn = sqlite3.connect('db_agrosem.sqlite3')
    curs = conn.cursor()
    s = "INSERT INTO cargo VALUES (?, ?, ?,  ?, ?)"
    curs.execute(s, (id_, articl, name, price, packaging))
    conn.commit()
    conn.close()

### Завдання 3:

Ознайомтеся із роботою SQLite та відповідним модулем у Python.
Завантажте базу даних для виконання лабораторної роботи.
Підключіться до завантаженої бази SQLite.

1. Виведіть інформацію про дану базу.

In [5]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = "SELECT * FROM sqlite_master WHERE type = 'table'"

curs.execute(s)     
resalt = curs.fetchall()     
for i in range(len(resalt)):
    print(f'{resalt[i]}\n')
conn.close()

('table', 'Customers', 'Customers', 2, 'CREATE TABLE Customers\n(\n  cust_id      char(10)  NOT NULL ,\n  cust_name    char(50)  NOT NULL ,\n  cust_address char(50)  NULL ,\n  cust_city    char(50)  NULL ,\n  cust_state   char(5)   NULL ,\n  cust_zip     char(10)  NULL ,\n  cust_country char(50)  NULL ,\n  cust_contact char(50)  NULL ,\n  cust_email   char(255) NULL ,\n  PRIMARY KEY (cust_id)\n)')

('table', 'OrderItems', 'OrderItems', 4, 'CREATE TABLE OrderItems\n(\n  order_num  int          NOT NULL                      ,\n  order_item int          NOT NULL                      ,\n  prod_id    char(10)     NOT NULL                      ,\n  quantity   int          NOT NULL                      ,\n  item_price decimal(8,2) NOT NULL                      ,\n  PRIMARY KEY (order_num, order_item)                   ,\n  FOREIGN KEY (order_num) REFERENCES Orders (order_num) ,\n  FOREIGN KEY (prod_id) REFERENCES Products (prod_id)\n)')

('table', 'Orders', 'Orders', 7, 'CREATE TABLE Orders\n(\n  order_num  int      NOT NULL ,\n  order_date datetime NOT NULL ,\n  cust_id    char(10) NOT NULL ,\n  PRIMARY KEY (order_num)      ,\n  FOREIGN KEY (cust_id) REFERENCES Customers (cust_id)\n)')

('table', 'Products', 'Products', 10, 'CREATE TABLE Products\n(\n  prod_id    char(10)      NOT NULL ,\n  vend_id    char(10)      NOT NULL ,\n  prod_name  char(255)     NOT NULL ,\n  prod_price decimal(8,2)  NOT NULL ,\n  prod_desc  text          NULL     ,\n  PRIMARY KEY (prod_id)             ,\n  FOREIGN KEY (vend_id) REFERENCES Vendors (vend_id)\n)')

('table', 'Vendors', 'Vendors', 12, 'CREATE TABLE Vendors\n(\n  vend_id      char(10) NOT NULL ,\n  vend_name    char(50) NOT NULL ,\n  vend_address char(50) NULL     ,\n  vend_city    char(50) NULL     ,\n  vend_state   char(5)  NULL     ,\n  vend_zip     char(10) NULL     ,\n  vend_country char(50) NULL     ,\n  PRIMARY KEY (vend_id)\n)')

2. Виведіть перелік всіх таблиць.

In [6]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = "SELECT name FROM sqlite_master where type = 'table'"

curs.execute(s)     
resalt = curs.fetchall()     
print('Перелік таблиць бази даних:\n')
for i in range(len(resalt)):
    print(f'{resalt[i]}\n')
conn.close()

Перелік таблиць бази даних:

('Customers',)

('OrderItems',)

('Orders',)

('Products',)

('Vendors',)

3. Список всіх cust_id з таблиці Customers table.

In [7]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = "SELECT cust_id FROM Customers"

curs.execute(s)     
resalt = curs.fetchall()     
print('Список всіх cust_id з таблиці Customers table:\n')
print(resalt)
conn.close()

Список всіх cust_id з таблиці Customers table:

[('1000000001',), ('1000000002',), ('1000000003',), ('1000000004',), ('1000000005',)]

4. Всю таблицю Customers table

In [8]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = "SELECT * FROM Customers"

curs.execute(s)     
resalt = curs.fetchall()  
print('Таблиця Customers:\n')
for i in range(len(resalt)):
    print(f'{resalt[i]}\n')
conn.close()

Таблиця Customers:

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')

('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)

('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')

('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')

('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

5. Список клієнтів (cust_names) відсортованих від Z до A

In [9]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = "SELECT cust_name FROM Customers ORDER BY cust_name DESC"

curs.execute(s)     
resalt = curs.fetchall()     
print('Список клієнтів:\n')
for i in range(len(resalt)):
    print(f'{resalt[i]}\n')
conn.close()

Список клієнтів:

('Village Toys',)

('The Toy Store',)

('Kids Place',)

('Fun4All',)

('Fun4All',)

6. Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення

In [10]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = '''SELECT Orders.cust_id, Orders.order_num 
       FROM Orders 
       ORDER BY Orders.cust_id, Orders.order_date'''

curs.execute(s)     
resalt = curs.fetchall()     
for i in range(len(resalt)):
    print(f'{resalt[i]}\n')
conn.close()

('1000000001', 20009)

('1000000001', 20005)

('1000000003', 20006)

('1000000004', 20007)

('1000000005', 20008)

7. Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості

In [11]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = '''SELECT OrderItems.quantity, OrderItems.item_price 
       FROM OrderItems 
       ORDER BY OrderItems.quantity DESC, OrderItems.item_price DESC'''

curs.execute(s)     
resalt = curs.fetchall()     
print('Таблиця з кількістю та вартістю товару\n')
for i in range(len(resalt)):
    print(f'{resalt[i]}\n')
conn.close()

Таблиця з кількістю та вартістю товару

(250, 2.49)

(250, 2.49)

(250, 2.49)

(100, 10.99)

(100, 5.49)

(100, 2.99)

(100, 2.99)

(100, 2.99)

(50, 11.49)

(50, 4.49)

(20, 5.99)

(10, 11.99)

(10, 8.99)

(10, 3.49)

(10, 3.49)

(10, 3.49)

(5, 11.99)

(5, 4.99)

8. Товар (з таблиці Products), ціна якого становить 9.49

In [12]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = '''SELECT Products.prod_name 
       FROM Products 
       WHERE Products.prod_price = 9.49'''

curs.execute(s)     
resalt = curs.fetchall()     
print('Товари (з таблиці Products), ціна яких становить 9.49:\n')
print(resalt)
conn.close()

Товари (з таблиці Products), ціна яких становить 9.49:

[('King doll',), ('Queen doll',)]

9. Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

In [13]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = '''SELECT Products.prod_name, Products.prod_price 
    FROM Products 
    WHERE Products.prod_price 
    BETWEEN 3 AND 6 ORDER BY Products.prod_price'''

curs.execute(s)     
resalt = curs.fetchall()     
for i in range(len(resalt)):
    print(f'{resalt[i]}\n')
conn.close()

('Fish bean bag toy', 3.49)

('Bird bean bag toy', 3.49)

('Rabbit bean bag toy', 3.49)

('Raggedy Ann', 4.99)

('8 inch teddy bear', 5.99)

10. Кількість товару, що було продано

In [14]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = "SELECT SUM(OrderItems.quantity) FROM OrderItems"

curs.execute(s)     
resalt = curs.fetchall()     
print(f'Кількість товару, що було продано - {resalt}')
conn.close()

Кількість товару, що було продано - [(1430,)]

11. Кількість найменувань товару, ціна якого більша за 4

In [15]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = "SELECT Count(Products.prod_name) FROM Products WHERE Products.prod_price > 4"

curs.execute(s)     
resalt = curs.fetchall()     
print(f'Кількість найменувань товарів, ціна яких більша за 4 - {resalt}\n')
conn.close()

Кількість найменувань товарів, ціна яких більша за 4 - [(6,)]

12. Розробіть алгоритм для виведення 3 найдорожчих товарів в базі

In [16]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = "SELECT Products.prod_name FROM Products ORDER BY Products.prod_price DESC"

curs.execute(s)     
resalt = curs.fetchall()     
print('Три найдорожчі товари:\n')
for i in range(3):
    print(f'{resalt[i]}\n')
conn.close()

Три найдорожчі товари:

('18 inch teddy bear',)

('King doll',)

('Queen doll',)

13. Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

In [17]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = '''SELECT Customers.cust_id, Customers.cust_name, count(Orders.cust_id) AS Q 
       FROM Customers LEFT JOIN Orders On Customers.cust_id = Orders.cust_id 
       GROUP BY Orders.cust_id 
       ORDER BY Customers.cust_id'''

curs.execute(s)     
resalt = curs.fetchall() 
print('Таблиця з кількістю замовлень для кожного клієнта:\n')
for i in range(len(resalt)):
    print(f'{resalt[i]}\n')
conn.close()

Таблиця з кількістю замовлень для кожного клієнта:

('1000000001', 'Village Toys', 2)

('1000000002', 'Kids Place', 0)

('1000000003', 'Fun4All', 1)

('1000000004', 'Fun4All', 1)

('1000000005', 'The Toy Store', 1)

14. Виведіть список клієнтів та їх замовлення (використайте JOIN)

In [18]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = '''SELECT Customers.cust_name, Orders.order_num 
       FROM Customers INNER JOIN Orders ON Customers.cust_id = Orders.cust_id'''

curs.execute(s)     
resalt = curs.fetchall()     
for i in range(len(resalt)):
    print(f'{resalt[i]}\n')
conn.close()

('Village Toys', 20005)

('Fun4All', 20006)

('Fun4All', 20007)

('The Toy Store', 20008)

('Village Toys', 20009)

15. Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. Використайте UNION для об'єднання цих запитів

In [19]:
import sqlite3 
 
conn = sqlite3.connect('tysql.sqlite')
curs = conn.cursor()

s = '''SELECT Products.prod_name, Products.prod_price 
       FROM Products 
       WHERE Products.prod_price < 5 
       UNION 
       SELECT Products.prod_name, Products.prod_price 
       FROM Products 
       WHERE Products.prod_price >= 5 
       ORDER BY Products.prod_price'''

curs.execute(s)     
resalt = curs.fetchall()     
for i in range(len(resalt)):
    print(f'{resalt[i]}\n')
conn.close()

('Bird bean bag toy', 3.49)

('Fish bean bag toy', 3.49)

('Rabbit bean bag toy', 3.49)

('Raggedy Ann', 4.99)

('8 inch teddy bear', 5.99)

('12 inch teddy bear', 8.99)

('King doll', 9.49)

('Queen doll', 9.49)

('18 inch teddy bear', 11.99)

### Завдання 4:

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди

1. 
SELECT model, speed, hd   
FROM PC   
WHERE price < 500  
  
  
2. 
SELECT DISTINCT maker  
FROM Product  
WHERE type = 'Printer'  


3. 
SELECT DISTINCT model, ram, screen  
FROM Laptop  
WHERE price > 1000  


4. 
SELECT code, model, color, type, price  
FROM Printer  
WHERE color = 'y'  


5. 
SELECT model, speed, hd  
FROM PC  
WHERE (cd = '12x' or cd = '24x') and price < 600  


6.   
SELECT DISTINCT maker, speed  
FROM Laptop INNER JOIN Product ON Laptop.model = Product.model  
WHERE Laptop.hd >= '10'  


7. 
SELECT Product.model, price  
FROM Product INNER JOIN PC ON Product.model = PC.model  
WHERE maker = 'B'  
UNION  
SELECT Product.model, price  
FROM Product INNER JOIN Laptop ON Product.model = Laptop.model  
WHERE maker = 'B'  
UNION  
SELECT Product.model, price   
FROM Product INNER JOIN Printer ON Product.model = Printer.model  
WHERE maker = 'B'    

  
8.  
SELECT DISTINCT maker   
FROM Product   
WHERE type = 'PC' and maker NOT IN   
(SELECT maker FROM Product WHERE type = 'Laptop')  

  
9.  
SELECT DISTINCT maker  
FROM Product INNER JOIN PC ON Product.model = PC.model  
WHERE PC.speed >= '450'  
 
   
10.  
SELECT Printer.model, Printer.price  
FROM Printer  
WHERE Printer.price = (SELECT MAX(Printer.price) FROM Printer)  

  
11.  
SELECT SUM(PC.speed) / COUNT(PC.speed) AS "Средняя скорость"  
FROM PC  

  
12.  
SELECT SUM(Laptop.speed) / COUNT(Laptop.speed) AS "Средняя скорость"  
FROM Laptop  
WHERE Laptop.price > 1000  

  
13.  
SELECT avg(pc.speed)   
FROM PC   
INNER JOIN Product on PC.model = Product.model   
WHERE maker = 'A'  

  
14.  
SELECT Ships.class, Ships.name, Classes.country  
FROM Ships  
INNER JOIN Classes ON Ships.class = Classes.class  
WHERE Classes.numGuns >= 10  

  
15.  
SELECT PC.hd  
FROM PC  
GROUP BY PC.hd  
HAVING COUNT(PC.hd) != 1  

  
16.  
SELECT DISTINCT A.model AS model_1, B.model AS model_2, A.speed, A.ram  
FROM PC AS A, PC B  
WHERE A.speed = B.speed AND A.ram = B.ram AND A.model > B.model  

  
17.  
SELECT DISTINCT Product.type, Product.model, Laptop.speed  
From Product INNER JOIN Laptop ON Product.model = Laptop.model  
WHERE Laptop.speed <   
(SELECT MIN(PC.speed)  
FROM PC INNER JOIN Product ON Product.model = PC.model)  

  
18.  
SELECT DISTINCT Product.maker, Printer.price  
FROM Product  
INNER JOIN Printer ON Product.model = Printer.model  
WHERE Printer.color = 'y' AND Printer.price = (  
SELECT MIN(Printer.price)  
FROM Printer  
WHERE Printer.color = 'y')  

  
19.  
SELECT Product.maker, AVG(Laptop.screen) AS AVG_screen  
FROM Product  
INNER JOIN Laptop ON Product.model = Laptop.model  
GROUP BY Product.maker  

  
20.  
SELECT Product.maker, COUNT(DISTINCT Product.model)   
FROM Product FULL JOIN PC ON Product.model = PC.model  
GROUP BY Product.maker, Product.type  
HAVING Product.type = 'PC' AND COUNT(DISTINCT Product.model) >= 3  

  
21.  
SELECT Product.maker, MAX(PC.price) AS max_price  
FROM Product  
INNER JOIN PC ON Product.model = PC.model  
GROUP BY Product.maker  

  
22.  
SELECT speed, AVG(price) AS AVG_price  
FROM PC  
GROUP BY speed  
HAVING speed > 600  

  
23.  
SELECT DISTINCT Product.maker  
From Product INNER JOIN PC ON Product.model = PC.model  
WHERE PC.speed >= 750  
INTERSECT  
SELECT DISTINCT Product.maker  
From Product INNER JOIN Laptop ON Product.model = Laptop.model  
WHERE Laptop.speed >= 750  

  
24.  
WITH All_Price AS (  
SELECT PC.model, PC.price FROM PC  
UNION ALL  
SELECT Laptop.model, Laptop.price FROM Laptop  
UNION ALL  
SELECT Printer.model, Printer.price FROM Printer)  
SELECT DISTINCT model  
FROM All_Price  
WHERE price = ALL(SELECT MAX(price) FROM All_Price)  

  
25.  
SELECT DISTINCT Product.maker  
FROM Product INNER JOIN PC ON Product.model = PC.model  
WHERE PC.ram = (SELECT MIN(PC.ram) FROM PC)  
AND   
PC.speed = (SELECT MAX(PC.speed)  
FROM PC WHERE PC.ram = (SELECT MIN(PC.ram) FROM PC))  
AND  
Product.maker IN (SELECT Product.maker FROM Product WHERE type = 'Printer')  

  
26.  
WITH All_Price AS (  
SELECT PC.price   
FROM PC INNER JOIN Product ON PC.model = Product.model  
WHERE Product.maker = 'A'  
UNION ALL  
SELECT Laptop.price   
FROM Laptop INNER JOIN Product ON Laptop.model = Product.model  
WHERE Product.maker = 'A' )  
SELECT AVG(price)  
FROM All_Price  
 
 
 
27.  
SELECT Product.maker, AVG(PC.hd) AS Avg_hd  
FROM Product INNER JOIN PC ON Product.model = PC.model  
GROUP BY Product.maker  
HAVING Product.maker IN (  
SELECT Product.maker  
FROM Product   
WHERE type = 'Printer')  

  
28.  
SELECT DISTINCT COUNT(Product.maker) AS qty   
FROM Product  
WHERE maker IN   
(SELECT Product.maker  
FROM Product  
GROUP BY Product.maker  
HAVING COUNT(Product.model) = 1)  

  
29.  
SELECT Income_o.point, Income_o.date, Income_o.inc, Outcome_o.out  
FROM Income_o LEFT JOIN Outcome_o ON   
Income_o.point = Outcome_o.point AND Income_o.date = Outcome_o.date  
UNION   
SELECT Outcome_o.point, Outcome_o.date, Income_o.inc, Outcome_o.out   
FROM Income_o RIGHT JOIN Outcome_o ON   
Income_o.point = Outcome_o.point AND Income_o.date = Outcome_o.date  

  
30.  
SELECT tabl.point, tabl.date, SUM(sum_out) AS Outcome, SUM(sum_inc) AS Income  
FROM (  
SELECT point, date, SUM(inc) AS sum_inc, null AS sum_out   
FROM Income   
GROUP BY point, date  
UNION  
SELECT point, date, null AS sum_inc, SUM(out) AS sum_out   
FROM Outcome   
GROUP BY point, date) as tabl  
Group BY tabl.point, tabl.date   
ORDER BY tabl.point